@font-face {
    font-family: 'NormalFont';
    src: url('../../assets/fonts/NormalFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LogoFont';
    src: url('../../assets/fonts/LogoFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    font-family: "NormalFont", sans-serif;
    text-shadow: 0px 0px 2px rgb(0, 0, 0);
    text-align: center;
}

.botones img {
    margin: 5px;
    margin-left: 15px;
    margin-right: 15px;
    height: 2em;
    cursor: pointer;
}

.botones {
    display: flex;
    text-align: center;
    justify-content: center;
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(182, 182, 182) 50%, rgb(155, 155, 155) 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

.contenido {
    font-family: "NormalFont", sans-serif;
    background-color: transparent;
    border-radius: 0.25em;
    box-sizing: border-box;
    padding: 10vmin;
    text-align: center;
    z-index: 1;
}

.menu-button {
    font-family: "NormalFont", sans-serif;
    background-color: #f0f0f0;
    border: 0;
    color: #242424;
    border-radius: 0.5em;
    font-size: 1.5em;
    padding: 0.5em 2em;
    margin: 0.5em;
    margin-bottom: 3%;
    font-weight: 600;
    cursor: pointer;
    text-shadow: 0 0.0625em 0 #fff;
    box-shadow: inset 0 0.0625em 0 0 #ececec, 0 0.0625em 0 0 #efefef, 0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede, 0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #000000;
    transition: 0.15s ease;
}

.menu-button:active {
    translate: 0 0.225em;
    box-shadow: inset 0 0.03em 0 0 #f4f4f4, 0 0.03em 0 0 #efefef, 0 0.0625em 0 0 #ececec, 0 0.125em 0 0 #e0e0e0, 0 0.125em 0 0 #dedede, 0 0.2em 0 0 #dcdcdc, 0 0.225em 0 0 #cacaca, 0 0.225em 0.375em 0 #cecece;
}

#elecciones article {
    background-color: rgb(235, 235, 235);
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 1%;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.575);
}

span {
    color: red;
}

.more-button {
    zoom: 70%;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}
