@font-face {
    font-family: 'NormalFont';
    src: url('../../Assets/fonts/NormalFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LogoFont';
    src: url('../../Assets/fonts/LogoFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    font-family: "NormalFont", sans-serif;
    height: 100%;
    margin-top: 10%;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-shadow: 0px 0px 2px rgb(0, 0, 0);
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(182, 182, 182) 50%, rgb(155, 155, 155) 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

.close {
    font-family: "NormalFont", sans-serif;
    background-color: #ec0000;
    border: 0;
    color: #290000;
    border-radius: 0.5em;
    font-size: 1.5em;
    padding: 0.5em 2em;
    margin: 0.5em;
    font-weight: 600;
    cursor: pointer;
    text-shadow: 0 0.0625em 0 #ff0000;
    box-shadow: inset 0 0.0625em 0 0 #f00000, 0 0.0625em 0 0 #e90000, 0 0.125em 0 0 rgb(230, 0, 0), 0 0.25em 0 0 #da0000, 0 0.3125em 0 0 #d10000, 0 0.375em 0 0 #d40000, 0 0.425em 0 0 #b80000, 0 0.425em 0.5em 0 #b90000;
    transition: 0.15s ease;
}

.back {
    font-family: "NormalFont", sans-serif;
    background-color: #43ec00;
    border: 0;
    color: #0a2900;
    border-radius: 0.5em;
    font-size: 1.5em;
    padding: 0.5em 2em;
    margin: 0.5em;
    font-weight: 600;
    cursor: pointer;
    text-shadow: 0 0.0625em 0 #00ff00;
    box-shadow: inset 0 0.0625em 0 0 #00f000, 0 0.0625em 0 0 #13e900, 0 0.125em 0 0 rgb(46, 230, 0), 0 0.25em 0 0 #07da00, 0 0.3125em 0 0 #00d111, 0 0.375em 0 0 #07d400, 0 0.425em 0 0 #15b800, 0 0.425em 0.5em 0 #16b900;
    transition: 0.15s ease;
}

.close:active {
    translate: 0 0.225em;
    box-shadow: inset 0 0.03em 0 0 #f00000, 0 0.03em 0 0 #e90000, 0 0.0625em 0 0 rgb(230, 0, 0), 0 0.125em 0 0 #da0000, 0 0.125em 0 0 #d10000, 0 0.2em 0 0 #d40000, 0 0.225em 0 0 #b80000, 0 0.225em 0.375em 0 #b90000;
}

.back:active {
    translate: 0 0.225em;
    box-shadow: inset 0 0.03em 0 0 #30f000, 0 0.03em 0 0 #2fe900, 0 0.0625em 0 0 rgb(54, 230, 0), 0 0.125em 0 0 #33da00, 0 0.125em 0 0 #07d100, 0 0.2em 0 0 #2ad400, 0 0.225em 0 0 #1fb800, 0 0.225em 0.375em 0 #06b900;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}