@font-face {
    font-family: 'NormalFont';
    src: url('../../Assets/fonts/NormalFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LogoFont';
    src: url('../../Assets/fonts/LogoFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    font-family: "NormalFont", sans-serif;
    margin: 0;
    padding-top: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin-top: 10px;
    text-shadow: 0px 0px 2px rgb(0, 0, 0);
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(182, 182, 182) 50%, rgb(155, 155, 155) 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

.menu-button {
    font-family: "NormalFont", sans-serif;
    background-color: #f0f0f0;
    border: 0;
    color: #242424;
    border-radius: 0.5em;
    font-size: 1.5em;
    padding: 0.5em 2em;
    margin: 0.5em;
    font-weight: 600;
    cursor: pointer;
    text-shadow: 0 0.0625em 0 #fff;
    box-shadow: inset 0 0.0625em 0 0 #ececec, 0 0.0625em 0 0 #efefef, 0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede, 0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #cecece;
    transition: 0.15s ease;
}

.menu-button:active {
    translate: 0 0.225em;
    box-shadow: inset 0 0.03em 0 0 #f4f4f4, 0 0.03em 0 0 #efefef, 0 0.0625em 0 0 #ececec, 0 0.125em 0 0 #e0e0e0, 0 0.125em 0 0 #dedede, 0 0.2em 0 0 #dcdcdc, 0 0.225em 0 0 #cacaca, 0 0.225em 0.375em 0 #cecece;
}


#keyDisplay {
    font-family: "NormalFont", sans-serif;
    width: 200px;
    height: 30px;
    font-size: 16px;
    padding: 5px;
  }

#confirmKeyBtn {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 16px;
}

/* From Uiverse.io by shadowmurphy */ 
input {
    border: 2px solid transparent;
    width: 15em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.5s;
  }
  
input:hover,
input:focus {
    border: 2px solid #4A9DEC;
    box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
    background-color: white;
  }
  

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}